<div class="well">
    <legend>{{ project.name }}</legend>
    <div class="row-fluid">
        <div class="span6">
            <span class="span10">{{ project.desc }}</span>
        </div>
        <div class="span6" ng-controller="TeamMembersController">
            <label><strong>Product Owner</strong></label>
            <span>{{ project.productOwnerFullName() }}</span>
            <label><strong>Scrum Master</strong></label>
            <span>{{ project.scrumMasterFullName() }}</span>
            <label><strong>Development Team</strong></label>
            <table class="table table-bordered table-condensed table-striped table-hover">
                <tbody>
                <tr ng-repeat="userId in project.teamMembers">
                    <td>{{ usersLookup[userId].getFullName() }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row-fluid">
        <hr>
        <div class="span12">
            <button type="button" class="btn btn-primary save" ng-click="back()" >Back</button>
        </div>
    </div>
</div>


